<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>A03 Guestbook</title>
<link rel="stylesheet" href="/guestbook.css"/>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body class="container">
<section>
<ul class="menu" >
  <div class="row">
    <div class="col-md-3">
  <li><a href="about">Home</a></li>
    </div>
    <div class="col-md-3">
  <li><a href="agecalculator">Age Calculator</a></li>
    </div>
    <div class="col-md-3">
  <li><a href="contacts">Contact</a></li>
    </div>
    <div class="col-md-3">
      <li><a href="guestbook">GuestBook</a></li>
    </div>
  </div>
 </ul>
</section>
<header>
<h1>
Express Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>
</header>


