

li {
    float: left;
    padding: 25px 90px;
    margin: 2px;
    border-right: 2px;
    border-right-color: red;
    font-size: 20px;
    }
 header{
        color:lightyellow;
        font-family:"Arial";
        }

li a {
    display: block;
    color: aqua ;
    text-align: center;
   }
li a:hover {
    background-color: orange;
}
.menu{
    list-style-type: none;
     background-color: green;
     padding-bottom: 2px;
     padding-left: 4px;
     padding-right: 5px;
     overflow: hidden;
     border: 1px solid black;
 }
 body{
    text-align:center;
    background-image: url("book.jpg");
    background-size: 1500px 800px;
    }